1 Import programs and data

1.1 Import needed programs (add on the fly everything needed)

1.2 Import the csv files (dfc = cient_train.csv , dfi = invoice_train.csv)

In [5]:
# 1.1 Import needed programs (add on the fly everything needed)
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [6]:
# 1.2 Import the csv files
dfc = pd.read_csv("data/train/client_train.csv")
dfi = pd.read_csv("data/train/invoice_train.csv")

2 Take a look at the data - what needs to be cleaned?


2.1.1 Head of client train

2.1.2 Shape of client train (135493, 6)

2.1.3 Description of client train

2.1.4 Info on client train (135.493 entries, all of 5 columns have zero non-null entries)



2.2.1 Head of invoice client

2.2.2 Shape of invoice client (4476749, 16)

2.2.3 Description of invoice client

2.2.4 Info on invoice client (4.476.749 entries, all of 15 columns have zero non-null entries)

2.2.5 Check for null values as they do not appear in the info (no nulls in any column)

2.0 Variable definitions

From webpage:

Variable definitions

Client:

Client_id: Unique id for client

District: District where the client is

Client_catg: Category client belongs to

Region: Area where the client is

Creation_date: Date client joined

Target: fraud:1 , not fraud: 0

Invoice data

Client_id: Unique id for the client

Invoice_date: Date of the invoice

Tarif_type: Type of tax

Counter_number:

Counter_statue: takes up to 5 values such as working fine, not working, on hold statue, ect

Counter_code:

Reading_remarque: notes that the STEG agent takes during his visit to the client (e.g: If the counter shows something 
wrong, the agent gives a bad score)

Counter_coefficient: An additional coefficient to be added when standard consumption is exceeded

Consommation_level_1: Consumption_level_1

Consommation_level_2: Consumption_level_2

Consommation_level_3: Consumption_level_3

Consommation_level_4: Consumption_level_4

Old_index: Old index

New_index: New index

Months_number: Month number

Counter_type: Type of counter

In [ ]:
# 2.1.1 Head of client train
dfc.head()

   disrict          client_id  client_catg  region creation_date  target
0       60     train_Client_0           11     101    31/12/1994     0.0
1       69     train_Client_1           11     107    29/05/2002     0.0
2       62    train_Client_10           11     301    13/03/1986     0.0
3       69   train_Client_100           11     105    11/07/1996     0.0
4       62  train_Client_1000           11     303    14/10/2014     0.0

In [ ]:
# 2.1.2 Shape of client train (135493, 6)
dfc.shape

(135493, 6)

In [ ]:
# 2.1.3 Description of client train
dfc.describe()

             disrict    client_catg         region         target
count  135493.000000  135493.000000  135493.000000  135493.000000
mean       63.511222      11.512506     206.159809       0.055841
std         3.354400       4.423761     104.207044       0.229614
min        60.000000      11.000000     101.000000       0.000000
25%        62.000000      11.000000     103.000000       0.000000
50%        62.000000      11.000000     107.000000       0.000000
75%        69.000000      11.000000     307.000000       0.000000
max        69.000000      51.000000     399.000000       1.000000

In [ ]:
# 2.1.4 Info on client train (135.493 entries, all of 5 columns have zero non-null entries)
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135493 entries, 0 to 135492
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   disrict        135493 non-null  int64
 1   client_id      135493 non-null  object
 2   client_catg    135493 non-null  int64
 3   region         135493 non-null  int64
 4   creation_date  135493 non-null  object
 5   target         135493 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 6.2+ MB

In [ ]:
# 2.2.1 Head of invoice client
dfi.head()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667,0,203,8,1,82,0,0,0,14302,14384,4,ELEC
1,train_Client_0,2013-03-29,11,1335667,0,203,6,1,1200,184,0,0,12294,13678,4,ELEC
2,train_Client_0,2015-03-23,11,1335667,0,203,8,1,123,0,0,0,14624,14747,4,ELEC
3,train_Client_0,2015-07-13,11,1335667,0,207,8,1,102,0,0,0,14747,14849,4,ELEC
4,train_Client_0,2016-11-17,11,1335667,0,207,9,1,572,0,0,0,15066,15638,12,ELEC

In [ ]:
# 2.2.2 Shape of invoice client (4476749, 16)
dfi.shape

(4476749, 16)

In [ ]:
# 2.2.3 Description of invoice client
dfi.describe()

,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number
count,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06
mean,2.012804e+01,1.230587e+11,1.724884e+02,7.321702e+00,1.003040e+00,4.109795e+02,1.093225e+02,2.030620e+01,5.292588e+01,1.776700e+04,1.834970e+04,4.483095e+01
std,1.347256e+01,1.657267e+12,1.338871e+02,1.571654e+00,3.083466e-01,7.573080e+02,1.220123e+03,1.574239e+02,8.754725e+02,4.036693e+04,4.095321e+04,3.128335e+03
min,8.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.100000e+01,1.211080e+05,5.000000e+00,6.000000e+00,1.000000e+00,7.900000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.791000e+03,2.056000e+03,4.000000e+00
50%,1.100000e+01,4.945610e+05,2.030000e+02,8.000000e+00,1.000000e+00,2.740000e+02,0.000000e+00,0.000000e+00,0.000000e+00,7.690000e+03,8.192000e+03,4.000000e+00
75%,4.000000e+01,1.115161e+06,2.070000e+02,9.000000e+00,1.000000e+00,6.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,2.166000e+04,2.234300e+04,4.000000e+00
max,4.500000e+01,2.798115e+13,6.000000e+02,4.130000e+02,5.000000e+01,9.999100e+05,9.990730e+05,6.449200e+04,5.479460e+05,2.800280e+06,2.870972e+06,6.366240e+05

In [ ]:
# 2.2.4 Info on invoice client (4.476.749 entries, all of 15 columns have zero non-null entries)
dfi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            int64
 3   counter_number        int64
 4   counter_statue        object
 5   counter_code          int64
 6   reading_remarque      int64
 7   counter_coefficient   int64
 8   consommation_level_1  int64
 9   consommation_level_2  int64
 10  consommation_level_3  int64
 11  consommation_level_4  int64
 12  old_index             int64
 13  new_index             int64
 14  months_number         int64
 15  counter_type          object
dtypes: int64(12), object(4)
memory usage: 546.5+ MB

In [ ]:
# 2.2.5 Check for null values as they do not appear in the info (no nulls in any column)
dfi.isnull().sum()

client_id               0
invoice_date            0
tarif_type              0
counter_number          0
counter_statue          0
counter_code            0
reading_remarque        0
counter_coefficient     0
consommation_level_1    0
consommation_level_2    0
consommation_level_3    0
consommation_level_4    0
old_index               0
new_index               0
months_number           0
counter_type            0
dtype: int64

Spring cleaning!

3.1 Start cleaning - Change the for date columns to datetime datatime

In [ ]:
# 3.1 Start cleaning - Change the for date columns to datetime datatime
dfi['invoice_date'] = pd.to_datetime(dfi['invoice_date'])
dfc['creation_date'] = pd.to_datetime(dfc['creation_date'])

In [ ]:
# 3.1.2 Combine both datasets into one (called dfw)

dfw = pd.merge(dfc, dfi, on = 'client_id', how = 'inner')

For tomorrow: 

1) Split data

2) Deciding on a baseline model

3) write the code for a baseline model






* Classification problem
* Logistic regression

np.zero fraud